<h1>Todo-List:</h1>
<div class="input-form">
    <form [formGroup]="form">
        <input formControlName="todoText" type="text" width="200"> <button (click)="onAddTodo()">Add</button>
        &nbsp;
        <span *ngIf="store.loading()">Loading...</span>
    </form>

</div>

@for (todo of store.todos(); track todo.id) {
    <div>
        @if (todo.completed) {
            <span>&#9745;</span>
        } @else {
            <span>&#9744;</span>
        }
        {{todo.todo}}
    </div>
}
<hr>
<div>Gesamt: {{store.countTodos()}}</div>
